.formContainerReg {
    display: flex;
    justify-content: center;
}

.formReg {
    background-color: rgb(26, 24, 25);
    border-radius: 15px;
    position: fixed;
    margin-top: 10%;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.formTitleReg {
    color: lightblue;
    font-size: 50px;
    margin-top: 5%;
}

.boxLabelsReg {
    color: lightblue;
    margin-left: 10%;
    margin-top: 8%;
    margin-bottom: 1%;
}

.infoBoxesReg {
    margin-left: 10%;
    margin-right: 10%;
}

.registerButtonReg {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    height: 30px;
}